.avatar {
  @media (max-width: 768px) {
    padding-bottom: var(--static-space-m) !important;
  }
}

.blockAlign {
  @media (max-width: 768px) {
    align-items: center;
  }
}

.textAlign {
  @media (max-width: 768px) {
    text-align: center;
  }
} 