---
import PageHeader from "@/components/page-header.astro";
import { Badge } from "@/components/ui/badge";
import MainLayout from "@/layouts/main-layout.astro";
import { formatDate } from "@/lib/utils";
import { getCollection } from "astro:content";

const posts = await getCollection("resume");
---

<MainLayout title="Resume">
  <section class="container max-w-screen-lg space-y-6 pt-12">
    <PageHeader
      heading="Resume"
      text="Own university and career path. You will also find my projects and my skills."
    />

    
    <ul class="pt-6">
      {
        posts.map((post) => (
          <li class="flex flex-col max-md:gap-y-4 md:flex-row w-full">
            <div class="md:basis-32 lg:basis-56 shrink-0 grow-0">
              <div class="md:sticky md:top-24 w-auto mr-6">
                <Badge
                  variant="default"
                  radius="lg"
                  className="w-21 h-10 justify-center text-md bg_release_version text-white"
                >
                  {post.data.versionNumber}
                </Badge>
              </div>
            </div>

            <div class="prose dark:prose-invert prose-img:rounded-3xl max-w-none w-full pb-24">
              {post.render().then(({ Content }) => (
                <Content />
              ))}
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
