---
import BaseLayout from "../layouts/BaseLayout.astro";

import { TITLE_TEMPLATE, BUY_ME_COFFEE } from "../config";

---

<BaseLayout title = {TITLE_TEMPLATE + "Home"} sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi there 👋,</div>
    <div class="text-5xl font-bold">I'm shigatena</div>
    <div class="text-3xl py-3 font-bold">Developer and security enthusiast</div>
    <div class="py-2">
      <text class="text-lg">
        Cyber-security student <b><a href="https://www.esilv.fr/">@ESILV-Paris</a></b> and also working
        <b><a href="https://www.cnp.fr/">@CNP Assurances</a></b> as an apprentice.<br/>
        I'm aspiring to become a pentester or developer in offensive security.<br/>
        Find me here on <b><a href="https://www.root-me.org/shigatena">@Root-me</a></b> and
        <b><a href="https://app.hackthebox.com/users/588018">@HackTheBox</a></b> !
      </text>
    </div>
    <div class="mt-8">
      <a class="btn btn-primary" href="https://www.linkedin.com/in/enzo-de-sousa/" target="_blank">Contact me !</a>
      <a href={BUY_ME_COFFEE} target="_blank" class="btn btn-outline ml-5">Buy me a coffee :-)</a>
    </div>
  </div>

</BaseLayout>
