---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { TITLE_TEMPLATE } from "../config";
---

<BaseLayout title = {TITLE_TEMPLATE + "Projects"} sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Last projects</div>
  </div>

  <HorizontalCard
      title="Basic keylogger"
      img="/projects/keylogger.png"
      desc="A simple keylogger written in Python, using RSA to communicate between the client and the server."
      url="https://github.com/shigatena666/small-keylogger"
      badge="New"
      tags={['Python']}
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Older projects</div>
  </div>

  <HorizontalCard
      title="K-Means implementation"
      img="/projects/kmeans.png"
      desc="Implementation of the K-means algorithm, allowing to choose for an input file and variables to output in matplotlib."
      url="https://github.com/shigatena666/ESILV-Python-K-means"
      tags={['Python', 'AI']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Tic-Tac-Toe and Connect-4 solver"
    img="/projects/tictactoe_and_connect4.png"
    desc="AI that can battle against an human on the Tic-Tac-Toe game and also on the Connect 4."
    url="https://github.com/shigatena666/ESILV-A3-Final-Project"
    tags={['Python', 'AI']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="CalculIP - Network training courses"
    img="/projects/calculip.png"
    desc="Web project which aims to provide students an environment where they can practice networking related exercises: frame analysis, conversions and many other subject."
    url="https://github.com/shigatena666/CalculIP"
    tags={['PHP', 'Networking']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="1clic1prof - Mobile application"
    img="/projects/1clic1prof.png"
    desc="Connect students and teachers. Project made for the start-up 1clic1prof."
    url="https://github.com/shigatena666/1clic1prof-app"
    tags={['Java', 'Android']}
  />
</BaseLayout>
