---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "btn-primary"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">_> Home</a></li>
    <li><a class="py-3 text-base" id="projects" href="/projects">_> Projects</a></li>
    <!--<li><a class="py-3 text-base" id="services" href="/services">_> Services</a></li>-->
    <li><a class="py-3 text-base" id="resume" href="/resume">_> Resume</a></li>
    <li>
        <a
            class="py-3 text-base"
            href="https://www.linkedin.com/in/enzo-de-sousa/"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">_> Contact</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
